# fly.toml app configuration file generated for starseed-oracle-temple
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'starseed-oracle-temple'
primary_region = 'lax'

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "3000"
  NODE_ENV = "production"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[deploy]
  strategy = "rolling"